.img {
  max-width: 100%;
  height: 90%;
  object-fit: cover;
  display: block;
}

.button {
  width: 100%;
  height: 100%;
  border: none;
  padding: 8px;
  background: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.2s;
  gap: 8px;
}

.button p {
  margin: 0;
  font-size: 0.85em;
  font-weight: 600;
  text-align: center;
  word-break: break-word;
  flex-shrink: 0;
  color: rgb(187, 81, 187);
}

.button:active {
  transform: scale(0.95);
}
